* { 
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font: inherit;
    background-color: #f2f2fc;
}

/* Global */

header {
    font-family: 'Adobe Garamond Pro', Arial, Helvetica, sans-serif;
    font-size: 77px;
    text-align: center;
}

/* Grid */

#grid-container {
    justify-content: center;
    display: grid;
    margin: 30px auto;
    width: 480px;
    grid-template-columns: repeat(16,30px);
    grid-template-rows: repeat(16,30px);
}

.grid-item {
    border: 1px solid grey;
}


 
/* Button */

button {
    position: relative;
    display: block;
    margin: auto;
    width: 400px;
    border: 2px solid #801bdf;
    border-radius: 5px;
    background-color: #8f19c5;
    color: rgb(239, 235, 240);
    padding: 10px 30px;
    font-size: 2em;
    opacity: 80%;
}
